
#capitao{
    width: 270px;
}

.titulo1{
    font-size: 40px;
    color: blue;
}

#segredo{
    color: white;
    display: inline-block;
}

#botao{
    position:absolute;
}

#troca{
    position: absolute;
    top: 0;
    left: 900px;
}

#retroca{
    position: absolute;
    top: 0;
    left: 900px;
}

.arrows img {
    position: fixed;
    width: 78px;
    bottom: 140px;
}

.arrows.light img {
    position: fixed;
    width: 99px;
    bottom: 128px;
}

.arrows.light .down {
    left: 79px;
}

.arrows.light .up {
    left: 159px;
}

.arrows.light .right {
    left: 239px;
}

.arrows.light .left {
    left: 0px;
}

.down{
    position: fixed;
    left: 88px;
}

.up{
    position: fixed;
    left: 168px;
}

.right{
    position: fixed;
    left: 248px;
}

.left{
    position: fixed;
    left: 9px;
}

#mario{
    position: absolute;
    height: 220px;
    bottom: 0;
    left: 400px;
    transition: left 0.3s ease;

}

#andando{
    position: absolute;
    height: 252px;
    bottom: 0;
    left: 400px;
    transition: left 0.3s ease;

}

.faceR{
    transform: scaleX(1);
}

.faceL{
    transform: scaleX(-1);
}

.jump{
    animation: pulo 0.5s ease-out;
}
@keyframes pulo {
    0%{bottom: 0;}
    50%{bottom: 150px;}
    100%{bottom: 0;}
}

.agachar{
    transform-origin: bottom;
}


.faceR.agachar{
    transform: scaleX(1) scaleY(0.5);
}

.faceL.agachar{
    transform: scaleX(-1) scaleY(0.5);
}